## 1. Гипотеза

Если снизить стоимость поездок на 3% в период Surge, то price-to-order конверсия увеличится на 5%

## 2. Разбиение юзеров на группы

In [82]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random

In [83]:
df = pd.read_csv('Netology_A_B-testing_HW_1.csv')
df_surge = df[df['surge']=='surge'].groupby('user_id').agg({'price_seen':'sum','order_made':'sum'}).reset_index()
df_surge['conv_p2o'] = df_surge['order_made']/df_surge['price_seen']
df_surge

       user_id  price_seen  order_made  conv_p2o
0       100093           2           1       0.5
1       100118           1           1       1.0
2       100134           1           1       1.0
3       100166           2           2       1.0
4       100255           2           0       0.0
...        ...         ...         ...       ...
17775   999670           1           1       1.0
17776   999825           3           3       1.0
17777   999878           4           4       1.0
17778   999945           1           1       1.0
17779   999978           1           0       0.0

[17780 rows x 4 columns]

In [84]:
df_surge['rand'] = 0.0

for i in range(len(df_surge)):
    t = random.random()
    df_surge['rand'].values[i] = t
    
df_surge['group'] = df_surge['rand'].apply(lambda x: 'A' if x<0.5 else 'B')
df_surge

       user_id  price_seen  order_made  conv_p2o      rand group
0       100093           2           1       0.5  0.626460     B
1       100118           1           1       1.0  0.706383     B
2       100134           1           1       1.0  0.396944     A
3       100166           2           2       1.0  0.137130     A
4       100255           2           0       0.0  0.858669     B
...        ...         ...         ...       ...       ...   ...
17775   999670           1           1       1.0  0.846227     B
17776   999825           3           3       1.0  0.199655     A
17777   999878           4           4       1.0  0.685634     B
17778   999945           1           1       1.0  0.866478     B
17779   999978           1           0       0.0  0.811738     B

[17780 rows x 6 columns]

In [85]:
len(df_surge[df_surge['group']=='A']), len(df_surge[df_surge['group']=='B'])

(9039, 8741)

In [86]:
group_a = df_surge[df_surge['group']=='A'].sample(8700)
group_b = df_surge[df_surge['group']=='B'].sample(8700)

## 3. Проверка на однородность

In [87]:
group_a['conv_p2o'].mean(),group_b['conv_p2o'].mean()

(0.7184096880131389, 0.728481527093599)

In [88]:
from scipy.stats import ttest_ind

stat, p = ttest_ind(group_a['conv_p2o'], group_b['conv_p2o'])

print('t-value =', stat)
print('p-value =', p)

t-value = -1.7569440908963074
p-value = 0.07894492777536433

In [89]:
alpha = 0.05

if p < alpha:
    print('Гипотеза о равенстве отклоняется')
else:
    print('Гипотеза о равенстве не отклоняется')

Гипотеза о равенстве не отклоняется